*{margin: 0; padding: 0; font-family: 'Montserrat', sans-serif;}



#main {
    background-image: var(--purple);

    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    

    width: 80%;
    border-radius: 25px;
    border: none;

    padding: 50px 100px 50px 100px;
}

h1 {
    font-size: 72px;
    font-weight: bold;
    color: white;
}

p {
    color: white;
    font-size: 36px;
}

.a-wrapper {
    width: 50%;

    margin: 0 auto;

    margin-top: 100px;

    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

a {
    font-size: 24px;
    border: none;
    
    margin: 0 auto;
}